<div id="particles-js" class="particle-header-compact">
  <div class="content">
      <a class="site-title" href="{{site.baseurl}}">{{site.username}}</a>
      <div class="right-aligned">
        <a class="link" href="{{site.baseurl}}#about">About Me</a>
        <a class="link" href="{{site.baseurl}}#projects">Projects</a>
        <div class="icons-header">
          <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        </div>
      </div>
  </div>
</div>
