<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
    {% for post in site.posts %}
    <div class="row user-projects">
      <div class="six columns images">
        <img alt="{{ post.featuredImage }}" src="{{ "/assets/img/" | prepend: site.baseurl | append: post.featuredImage }}" />
      </div>
      <div class="six columns">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h5>{{ post.title }}</h5>
        <li>{{ post.tags }}</li>
        <p>{{ post.description }}</p>
        <a class="project-link" href="{{ post.url | prepend: site.baseurl }}">Check it out</a>
      </div>
    </div>

    {% endfor %}
</div>
