<div class="row user">
  <h3> My Expertise within the world of computer science</h3>
  <p>Please note icons does not represent everthing</p>
  <div>
    <h4>Web</h4>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-angularjs-plain colored"></i>
    <i class="devicon-sass-original colored"></i>
    <p>React, html, sass/css, angular 1, nodejs express, .Net MVC</p>
  </div>
  <div>
    <h4>Mobile</h4>
    <i class="devicon-android-plain-wordmark"></i>
    <i class="devicon-apple-original colored"></i>
    <i class="devicon-react-original colored"></i>
    <p>React native, Android, iOS</p>
  </div>
  <div>
    <h4>Backend</h4>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-dot-net-plain-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <p>Nodejs, C# .Net / Mono</p>
  </div>
  <div>
    <h4>Server infrastructure</h4>
    <i class="devicon-amazonwebservices-plain colored"></i>
    <i class="devicon-docker-plain-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <p>Docker, Amazon webservices, rabbitmq, mssql, mysql, mongodb, Parse, Firebase</p>
  </div>
  <div>
    <h4>CI build tools</h4>
    <i class="devicon-gradle-plain colored"></i>
    <p>Gradle, Fastlane, MSBuild, Travis CI, Jenkins</p>
  </div>
  <div>
    <h4>Languages</h4>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-csharp-plain colored"></i>
    <i class="devicon-cplusplus-plain colored"></i>
    <i class="devicon-java-plain colored"></i>
    <p>C#, C++, Objective-C, Java, Javascript</p>
  </div>
  <div>
    <h4>Everyday tools</h4>
    <i class="devicon-git-plain"></i>
    <i class="devicon-gulp-plain colored"></i>
    <i class="devicon-babel-plain colored"></i>
    <i class="devicon-docker-plain colored"></i>
    <p>Git, Visual studio code, Visual studio, AppCode, XCode, Glup, Docker, Babel, Flow type, Unity3d</p>
  </div>
</div>
