$main: #1a222c;
$sec: #4B5664;
$purple: #54516A;
$cut: 768px;

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$toolbar-height:   125px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    768px;

$on-palm:          600px;
$on-laptop:        768px;

// Custom variables
$share-color:      #bbc7cc;
$share-color-dark: #50585d;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

@-webkit-keyframes pulse {
    from {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0;
    }
    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px;
    }
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0;
    }
}

@keyframes pulse {
    from {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }
    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px
    }
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }
}

.particle-header {
  background: $main;
  display: block;
  vertical-align: bottom;
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .particles-js-canvas-el {
      width:100vw !important;
      height:100vh !important;
    }

  .content {
    z-index: 1;
    text-align: center;
    color:#FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .site-title {
      font-size: 50px;
      display: block;
      line-height: 1;
      @media only screen and (min-width:$cut){
        margin: 0;
        font-size: 100px;
      }
    }
    .site-description {
      font-size: 20px;
      display: block;
      line-height: 1;
      margin: 5px 0 10px 0;
      @media only screen and (min-width:$cut){
        font-size: 40px;
      }
    }
    .link {
      color: #FFF;
      display: inline-flex;
      justify-content: space-between;
      text-decoration: none;
      font-size: 15px;
      margin: 10px;
      @media only screen and (min-width:$cut){
        font-size: 20px;
      }
    }
  }
}

.particle-header-compact {
  background: $main;
  display: block;
  width: 100vw;
  height: $toolbar-height;
  max-height: $toolbar-height;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .particles-js-canvas-el {
    z-index: 0;
    position: absolute;
    top: 0;
    width:100vw !important;
    height:$toolbar-height !important;
  }

  .content {
    position: relative;
    top: 0;
    z-index: 1;
    color:#FFF;
    margin: 0 auto;
    display: flex;
    min-height: $toolbar-height;
    max-height: $toolbar-height;
    justify-content: space-between;
    .site-title {
      color: #FFF;
      display: flex;
      align-self: center;
      text-decoration: none;
      font-size: 10vw;
      line-height: 1;
      margin-left: 0.5vw;
      user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
      @media only screen and (min-width:$cut){
        font-size: 100px;
        margin-left: 10px;
      }
    }
    .right-aligned {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      align-self: center;
      margin-right: 0.5vw;
      @media only screen and (min-width:$cut) {
        margin-right: 10px;
      }
      .icons-header {
        display: inline-flex;
      }
      .link {
        color: #FFF;
        display: inline-flex;
        justify-content: space-between;
        text-decoration: none;
        font-size: 3vw;
        margin: 0.5vw;
        user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
        @media only screen and (min-width:$cut) {
          font-size: 20px;
          margin: 10px;
        }
      }
    }
  }
}

.icons-header {
  display: flex;
  justify-content: center;
  text-align: center;
  .icon {
    text-align: center;
    color: #FFF;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 2px;
    border-radius: 50%;
    border: 2px solid #FFF;
    transition: all .7s;
    &:hover {
      color: $main;
      background: #FFF;
    }
    &:active {
      color: $main;
      background: #FFF;
    }
    @media only screen and (min-width:$cut) {
      width: 35px;
      height: 35px;
      font-size: 35px;
    }
  }
}

.down {
  color: #FFF;
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  .icon {
      position: absolute;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      fill: #fff;
      -webkit-animation: pulse 1.3s infinite;
      animation: pulse 1.3s infinite;
      &:hover {
        color: $sec;
      }
      &:active {
        color: $sec;
      }
  }
}

.user {
  text-align: center;
  margin: 20px auto;
  font-size: 60px;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
  font-size: 16px;
  margin: 10px auto;
}

.user-projects {
  margin: 40px auto;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  h5 {
    margin: 0;
  }
  li {
    color: $main;
    font-size: 1.1rem;
  }
  p {
    margin-right: 5px;
  }


}

.images:nth-child(2n+1) {
  @media only screen and (min-width: $cut) {
    float: right;
  }
}

.project-link {
  display: block;
  width: 100px;
  margin: 10px 0px;
  padding: 5px;
  color: $main;
  background-color: transparent;
  border: 1px solid $main;
  border-radius: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
  &:hover {
    background-color: $purple;
    border-color: $purple;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
  &:active {
    background-color: $purple;
    border-color: $purple;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
}

.footer {
  background: $main;
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: #FFF;
  .love {
    color: red;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: #FFF;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}

.post {
  margin: $spacing-unit
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    img {
      vertical-align: 'center';

      .medium-size {
        max-height: 400px;
        max-width: 400px;
      }
    }
}
